apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: intel-gpu-plugin
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/intel/intel-device-plugins-for-kubernetes.git'
    targetRevision: v0.34.0
    path: deployments/gpu_plugin
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
